.doante {
    text-align: center;
    p {
        font-size: 18px;
        line-height: 1.4;
        margin: 0 auto;
        max-width: 800px;
        padding: 0 1rem;
    }
    .cardContainer {
        width: 90vw;
        max-width: 260px;
        min-height: 500px;
        margin: 5rem auto auto auto;
        .swipe {
            position: absolute;
            display: flex;
            gap: 1rem;
            .card {
                position: relative;
                width: 80vw;
                max-width: 260px;
                height: 400px;
                color: black;
                background-color: antiquewhite;
                box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
                border-radius: 20px;
                background-size: cover;
                background-position: center;
            }
            .costDiv {
                h3 {
                    width: 50px;
                    text-align: left;
                    background-color: #f3f3f7;
                    padding: 0.23rem;
                    border-radius: 10px;
                }
            }
            .costStyle {
                width: 10px;
                background-color: #f3f3f7;
                height: 330px;
                border: 1px solid #ddd;
                position: relative;
                border-radius: 5px;
                .before {
                    content: "";
                    position: absolute;
                    background-color: aqua;
                    border-radius: 5px;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                }
            }
        }
    }
}