.main-font {
    font-family: 'Roboto', sans-serif;
}

.fw1 {
    font-weight: 100;   
}
.fw3 {
    font-weight: 300;   
}
.fw5 {
    font-weight: 500;   
}
.fw7 {
    font-weight: 700;   
}
.fw9 {
    font-weight: 900;   
}