.main-gradient {
    background: rgb(250,179,73);
    background: linear-gradient(90deg, rgba(250,179,73,1) 0%, rgba(255,145,77,1) 50%, rgba(255,74,22,1) 100%);
}

.main-font {
    font-family: CircularXXWeb,Trebuchet,Helvetica,Arial,sans-serif;
}

.fw1 {
    font-weight: 100;   
}
.fw3 {
    font-weight: 300;   
}
.fw5 {
    font-weight: 500;   
}
.fw7 {
    font-weight: 700;   
}
.fw9 {
    font-weight: 900;   
}