@use 'styles/variables/media';
.main {
    background-color: var(--primary-block-color);
    .end {
        display: flex;
        gap: 1rem;
        // padding-bottom: 1rem;
        width: fit-content;
        margin: auto;
        a {
            font-size: 16px;
            margin: auto;
        }
    }
    @media (max-width: 768px) {
        .footer {
            flex-direction: column;
        }
    }
}

.footer {
    border-top: 2px solid #ddd;
    max-width: 1200px;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 500;
    justify-content: space-evenly;
    padding: 32px;
    width: 100%;
    section {
        flex: 1;
        h3 {
            font-family: CircularXXWeb,Trebuchet,Helvetica,Arial,sans-serif;
            font-size: 24px;
            font-weight: 600;
            color: #000;
            margin: 12px 0px;
        }
        ul {
            text-align: left;
            margin: 0rem;
            font-family: CircularXXWeb,Trebuchet,Helvetica,Arial,sans-serif;
            li {
                font-family: CircularXXWeb,Trebuchet,Helvetica,Arial,sans-serif;
                font-size: 20px;
                font-weight: 500;
                color: #222;
            }
        }
    }
    p {
        display: inline-block;
        margin: 0 10px;
    }
    a {
        color: var(--secondary-text-color);
        font-size: 17px;
        font-weight: 600;
    }
}